.v-container{
     display: flex;
     justify-content: center;
     align-items: center;
}

Video{
     border-radius: 9px;
     margin-top: 40px;
     width: 60%;
}

.buttons{
     display: flex;
     justify-content: space-around;
     width: 100%;
     align-items: center;
}

.playandpause{
     color: #fff;
     border: none;
     background-color: transparent;
     font-size:40px ;
}

label{
     color: #fff;
     font-size: 15px;
}

select{
     margin-left: 5px;
     background-color: transparent;
     color: rgb(255, 255, 255);
     border: none;
}
option{
     color: #fff;
     background-color: black;
}